google-generativeai 
google-api-python-client 
google-auth-oauthlib
google-auth
flask 
python-dotenv
requests
python-dateutil
pytz

# google-cloud-speech  # === Voice Dependencies ===
# google-cloud-texttospeech  # Audio processing

elevenlabs
pydub
openai-whisper 
pydub
flask_cors